.auth-form{
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-container label,
.form-container input{
    width: 100%;
    display: block;
}

.form-container label{
    margin-bottom: 0.5rem;
}

.form-container{
    margin-bottom: 1rem;
}

.form-buttons button{
    background: cyan;
    font:inherit;
    border: 1px solid cyan;
    border-radius:  3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 2px 5px black;
    color: white;
    cursor: pointer;
}

.form-buttons button:hover,
.form-buttons button:active{
    background: darkcyan;
    border-color: cyan;
}

.auth-legend{
    text-align: center;
    font-size: 2rem;
}

fieldset{
    box-shadow: 1px 2px 5px black;
}